{% extends "yc_app/base.html" %}

{% block contents %}

    <div id='dashboard' class='container'>
        <div class="row"></div>
        <div class="row">
          <h5 class="no-margin large-padding">Treasury Yield Comparison for {{ sty_label }} and {{ lty_label }}</h5>
        </div>
        <div class="row">
        <div class="col s12">
          <label for="CompDataOverTime" class='card-label'>
              <span><a {% if date_range != 365 %}href="{% url 'yc_app:comp_chart' obj.pk %}"{% endif %} class="{% if date_range == 365 %}disabled-link{% endif %}">1 Years</a> | <a {% if date_range != 730 %}href="{% url 'yc_app:comp_chart' obj.pk %}?date_range=730"{% endif %} class="{% if date_range == 730 %}disabled-link{% endif %}">2 Years</a> | <a {% if date_range != 1825 %}href="{% url 'yc_app:comp_chart' obj.pk %}?date_range=1825"{% endif %} class="{% if date_range == 1825 %}disabled-link{% endif %}">5 Years</a> | <a {% if date_range != 3650 %}href="{% url 'yc_app:comp_chart' obj.pk %}?date_range=3650"{% endif %} class="{% if date_range == 3650 %}disabled-link{% endif %}">10 Years</a> | <a {% if date_range != 7300 %}href="{% url 'yc_app:comp_chart' obj.pk %}?date_range=7300"{% endif %} class="{% if date_range == 7300 %}disabled-link{% endif %}">20 Years</a></span>
          </label>
          <div class="card-panel">
            <canvas id="CompDataOverTime"></canvas>
          </div>
        </div>
        </div>
    </div>

{% endblock contents %}

{% block additional_js %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js'></script>
    <script>

    var timeFormat = 'MM/DD/YYYY';
    var config_comp_data_over_time = {
			type: 'bar',
			data: {
				datasets: [{
					label: "{{ chart_label }}",
					/*backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
					borderColor: window.chartColors.red,*/
					data: [{% for x, y in chart_data %}{x:"{{x}}",y:{{y}}},{% endfor %}],
					type: 'line',
					pointRadius: 0,
					fill: 'origin',
					lineTension: 0,
					borderWidth: 2
				}]
			},
			options: {
				scales: {
					xAxes: [{
						type: 'time',
						distribution: 'series',
						ticks: {
							source: 'data',
							autoSkip: true
						}
					}],
					yAxes: [{
						scaleLabel: {
							display: true,
							labelString: 'Yield Rate Diff'
						}
					}]
				},
				tooltips: {
					intersect: false,
					mode: 'index',
					callbacks: {
						label: function(tooltipItem, myData) {
							var label = myData.datasets[tooltipItem.datasetIndex].label || '';
							if (label) {
								label += ': ';
							}
							label += parseFloat(tooltipItem.value).toFixed(2);
							return label;
						}
					}
				}
			}
		};

    var ctx = document.getElementById("CompDataOverTime").getContext('2d');
    var myChart = new Chart(ctx, config_comp_data_over_time);

    </script>

{% endblock additional_js %}