{% extends "yc_app/base.html" %}

{% block contents %}
    <section class="grey-text text-darken-3 valign-wrapper">
        <div class="container ">
            <div class="row"></div>
            <div class="row">
                <h2 class="center no-margin large-padding">{{ yd_inversion_string_short }}</h2>
            </div>
            <div class="row"></div>
        </div>
    </section>
    <section class="grey-text text-darken-3">
        <div class="container border-top">
            <div class="row"></div>
            <div class="row">
                <h5 class="no-margin large-padding">{{yd.get_rate_type_display}}</h5>
            </div>
            <div class="row">
                {% for d in yd.yield_data_tup_list %}
                    <div class="center col s1 strong">{{ d.0 }}</div>
                {% endfor %}
            </div>
            <div class="row">
                {% for d in yd.yield_data_tup_list %}
                    <div class="center col s1">{{ d.1 }}</div>
                {% endfor %}
            </div>
            <span class="helper-text right"><a href="{{ yd.source_url }}">**Source: {{ yd.data_source }}</a></span>
            <div class="row"></div>
        </div>
    </section>
    <section class="grey-text text-darken-3">
        <div class="container border-top">
            <div class="row">
                <h5 class="no-margin large-padding">Yield Curve Comparison Grid</h5>
            </div>
            <div class="row">
                {% for row in yd_comp_grid %}
                    <div class="row">
                        {% for comp in row %}
                            <div class="col s1 center">
                            {{ comp }}
                            </div>
                            {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock contents %}